<nav>
    <div class="topnav">
        <div class="lefttop">
            <a><img src="icons/new-instagram-logo-white-border-icon-png-large.png"></a>
            <a><img src="icons/twitter.png"></a>
            <a><img src="icons/yt.png"></a>
            <a><img src="icons/fb.png"></a>
        </div>
        <div class="righttop">
            <a th:href="@{/contact}"><img src="icons/iconmonstr-email-3-240.png"></a>
            <a th:href="@{/cart}"><img src="icons/cart.png"></a>
            <a th:href="@{/account}"><img src="icons/account.png"></a>
        </div>
    </div>
    <div class="middlenav">
        <a th:href="@{/}"><img src="icons/Bez nazwy-2.png"></a>
        <div class="search">
            <!-- TODO: Make search bar work-->
            <input class="searchbar" type="text" placeholder="Search">
            <i id="icon" class="fa fa-search"></i>
        </div>
    <!-- TODO: Diversyfy links goto-->
    <div class="links">
        <a th:href="@{/shop}">3D</a>
        <a th:href="@{/shop}">2D</a>
        <a th:href="@{/shop}">Audio</a>
        <a th:href="@{/shop}">Code</a>
        <a th:href="@{/shop}">Order</a>
    </div>
    </div>
</nav>