<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
    <title text="Edit User"></title>
<body>
    <div th:replace="~{layouts/nav.html :: nav}" id="nav-placeholder"></div>
   
    <form th:action="@{/account/settings/security}" method="POST" th:object="${passwordForm}" class="add-product-form">

        <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="_csrf">

        <div class="input-field">
            <h2>Old Password</h2><input type="password"  id="oldPassword" th:field="*{oldPassword}">
            <button type="button" onclick="toggleOldPasswordVisibility()">Show</button>
            <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <h2>New Password</h2><input type="password"  id="newPassword" th:field="*{newPassword}">
            <button type="button" onclick="toggleNewPasswordVisibility()">Show</button>
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <h2>Repeat Password</h2><input type="password"  id="confirmPassword" th:field="*{confirmPassword}">
            <button type="button" onclick="toggleConfirmPasswordVisibility()">Show</button>
            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <button type="submit"> <span text="">Change Password</span></button>
            <button type="button" class="add-product-button">Discard</button>
        </div>


        <!-- <h2>Two-Factor Authentication (2FA)</h2> -->
    
        <h2>View LogIn History</h2>
        <table style="color: white;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="history : ${loginHistory}">
                    <td th:text="${history.loginTime}"></td>
                    <td th:text="${history.ipAddress}"></td>
                </tr>
            </tbody>
        </table>
    
        <button type="button" th:attr="onclick='deleteUser()'">
            <span>Delete Account</span>
        </button>
    
    </form>
    
    <div th:replace="~{layouts/footer.html :: footer}" id="footer-placeholder"></div>

    <script th:src="@{/js/scriptSecurity.js}"></script>
</body>
</html>