<!-- TODO: Update froduct card visuals -->
<!--    TODO: Make adding to cart and whishlisting work-->
<div th:fragment="product(product)" class="product-card__main">
    <a th:href="@{/productPage/{id}(id=${product.id})}" class="product-card-link">
    <article class="product-card">
        <header class="product-card__header">
            <div class="img-container">
            <img th:src="@{${product.imgPath[0].path}}" alt="Product Image">
            </div>
            <p class="product-card__owner">
                <span th:text="${product.owner}">Owner Username</span>
            </p>
            <h2 class="product-card__title" th:text="${product.name}">Product Name</h2>
        </header>
        <section class="product-card__body">
            <div class="product-card__rating">
                <div class="stars" onload="this.style.setProperty('--stars', '${product.rating}')"></div> <span th:text="${product.rating}">Rating</span>
            </div>
            <div class="product-card-bottom">
                <p class="product-card__price">
                    <span>$</span><span th:text="${product.price}">$0.00</span>
                </p>
                <div class="product-card-cart-button">
                    <div class="cart-img-holder">
                        <img th:src="@{/icons/cart.png}">
                    </div>
                    <input type="submit" value="Add to Cart">
                </div>
            </div>

            
        </section>
    </article>
    </a>
</div>
