<!-- TODO: Update froduct card visuals -->
<!--    TODO: Whishlisting work-->
<div th:fragment="product(product)" class="product-card__main">
    <a th:href="@{/productPage/{productId}(productId=${product.id})}" class="product-card-link">
    <article class="product-card">
        <header class="product-card__header">
            <div class="img-container">
            <img th:src="@{${product.productImages[0].path}}" alt="Product Image">
        </div>
        <p class="product-card__owner">
                <span th:text="${product.ownerUsername}">Owner Username</span>
            </p>
            <h2 class="product-card__title" th:text="${product.name}">Product Name</h2>
        </header>
        <section class="product-card__body">
            <div class="product-card__rating">
                <div class="stars" onload="this.style.setProperty('--stars', '${product.rating}')"></div> <span th:text="${product.rating}">Rating</span>
            </div>
            <div class="product-card-bottom">
                <p class="product-card__price">
                    <span>$</span><span th:text="${product.price}">$0.00</span>
                </p>
                <div class="product-card-cart-button">
                    <form th:action="@{cart/add}" method="POST">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="hidden" name="productId" th:value="${product.id}">
                    
                    <button type="submit">
                        <div class="cart-img-holder">
                            <img th:src="@{/icons/cart.png}">
                        </div>
                        Add to Cart
                     </button>
                    </form>
                </div>
            </div>

            
        </section>
    </article>
    </a>
</div>
