@import url('https://allfont.net/allfont.css?fonts=agency-fb');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TODO: Change and use variables*/
:root{
    --light: rgb(78, 73, 165);
    --dark: rgb(32, 29, 91);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --small-s-size: 2em;
    --small-m-size: 2em;
    --small-l-size: 2em;

    --medium-s-size: 2em;
    --medium-m-size: 2em;
    --medium-l-size: 2em;

    --large-s-size: 2em;
    --large-m-size: 2em;
    --large-l-size: 2em;
}

body{
    background: var(--black);
    min-height: 100vh;
    background-size: 100%;
    min-width: 100vw;
    font-family: 'Agency FB', arial ;
    overflow-x: hidden;
}

.topnav{
    background: var(--dark);
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.topnav img{
    height: 4vh;
    margin: 0.5vh 0;
    cursor: pointer;
}

.lefttop{
    margin-left: 5vw;
}

.lefttop a{
    margin-right: 1vw;
}

.righttop{
    margin-left: auto;
    margin-right: 6vw;
}

.righttop a{
    margin-left:2vw;
}

.middlenav{
    height: 12vh;
    background: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: right;
    align-items: center;
}

.middlenav img{
    height: 8vh;
    margin: 0 2vw;
    float: left;
    cursor: pointer;
}

.searchbar{
    margin: auto 0;
    height: 6vh;
    width: 28vw;
    padding-right: 1vh;
    outline: none;
    border: none;
    font-family: 'Agency FB', arial ;
    font-size: var(--large-s-size);
    background-color: var(--white);
    color: var(--dark);
}

.searchbar::-webkit-input-placeholder {
    color: var(--dark);
    
 }


#icon{
    float: right;
    color: var(--light);
    font-size: 5vh;
    margin: auto 0;
    margin-left: auto;
    margin-right: 1vw;
}

.search{
    border: 2px solid var(--light);
    color: var(--light);
    font-style: var(--light);
    font-size: 18pt;
    height: 7vh;
    width: auto;
    border-radius: 12px;
    padding-left: 1vw;
    margin: auto auto;
    margin-right: 1vw;
    font-family: 'Agency FB', arial ;
    display: flex;
    align-items: center;
}

.links{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 1.5vw;
}

.links a{
    text-decoration: none;
    font-size: 46pt;
    color: var(--dark);
    padding: 1vh 1vw;
    margin: 0 0.1vw;
    cursor: pointer;
}

.links a:hover{
    background: var(--light);
    border-radius: 12px;
    color: white;
}
/* INDEX */
.imgbox{
    width: 100vw;
    justify-self: center;
    object-fit: contain;
    
}
 
.header{
    color: var(--light);
    font-size: 40pt;
    margin-top: 2vh;
    margin-bottom: -1vh;
    text-align: center;
    font-weight: 500;
}

.no-products{
    margin: 2vh auto;
}

.no-products p{
    color: var(--white);
    font-size: 20pt;
    text-align: center;
}



.product-content p, h1 {
    color: var(--white);
}

.product-content {
    margin: 15vh 10vw;
    padding: 3vh 2vw;
    border: solid 3px var(--dark);
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 20px;
}

.jobs {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border: solid 2px var(--dark);
    border-radius: 15px;
    box-shadow: 0px 0px 12px 1px var(--dark);
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.popup {
    align-content: center;
    animation: fadeIn 0.3s;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.popup.hidden {
    display: none;
}

.popup.fade-out {
    animation: fadeOut 0.3s both;
}

.popup__img {
    max-height: 80%;
    max-width: 80%;
}

.popup__close {
    background-color: var(--light);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    font-size: 128px;
    position: fixed;
    right: 34px;
    top: 15px;
}

.popup__arrow {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--light);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
}

.lineX1 {
    width: 80px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 10px;
    transform: rotate(-45deg);
}

.lineX2 {
    width: 80px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 10px;
    transform: rotate(45deg);
}

.linel1 {
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 15px;
    transform: rotate(-30deg);
}

.linel2 {
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 15px;
    transform: rotate(30deg);
}

.liner1 {
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 25px;
    transform: rotate(-330deg);
}

.liner2 {
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 25px;
    transform: rotate(330deg);
}

.popup__close,
.popup__arrow {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.popup__close:hover,
.popup__arrow:hover {
    opacity: 1;
}

.popup__arrow--left {
    left: 25px;
}

.popup__arrow--right {
    right: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* SHOP */
.center{
    display: grid;
    grid-template-columns: auto auto;
}

.products{
    margin: 3vh 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vh 1vw;
    align-items: center;
    gap: 40px;
}

.fragment-products{
    overflow: hidden;
    background-color: var(--black);
    width: 260px;
    height: 280px;
    border: solid 4px var(--light);
    border-radius: 12px;
    padding: 10px;
    transform: scale(1);
    transition: all 0.3s ease-out;
}

.fragment-products:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

.product-card__title{
    font-size: 20pt;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    padding-left: 0;
    margin: 0;
}

.img-container img{
    
}

.img-container{
    overflow: hidden;
    width: 260px;
    height: 130px;
    margin: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.product-card-link{
    text-decoration: none;
}

.product-card__owner{
    font-size: 14pt;
    color: var(--light);
}

.product-card__owner:hover{
    color: var(--dark);
}

.product-card__price{
    margin: auto 0;
    font-size: 16pt;
    color: var(--white);
}

.product-card__rating {
    font-size: 14pt;
    display: flex;
    text-align: center;
    background-color: red;
    color: var(--white);
}

.product-card__rating span{
    margin: auto 0;
    margin-left: 25%;
}

.product-card-bottom{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.product-card-cart-button{
    display: flex;
    background-color: var(--dark);
    border: solid 4px var(--light);
    border-radius: 12px;
    padding: 5px;
    padding-bottom: 1px;
    cursor: pointer;
}

.product-card-cart-button:hover{
    background-color: var(--light);
}


.product-card-cart-button:hover input{
    background-color: var(--light);
}

.cart-img-holder{
    margin: auto 0;
    margin-right: 10px;
}

.product-card-cart-button img{
    height: 20px;
}

.product-card-bottom input{
    border: none;
    background-color: var(--dark);
    color: var(--white);
    cursor: pointer;
}

.stars{
    /* TODO: Fix star display */
    --dir: right;
    --fill: var(--white);
    --fillbg: var(--white);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 2.5;
    --starsize: 1.5rem;
    --symbol: var(--star);
    --value: 1.5;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    /* This is changed */
    background: var(--symbol);
    position: relative;
    -webkit-appearance: none;
}



.positions-shop-img{
    width: 260px;
    height: 280px;
    border: solid 4px var(--light);
    border-radius: 12px;
    padding: 10px;
    transform: scale(1);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.positions-shop-img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

.nav-shop{
    background: var(--black);
    color: var(--white);
    width: 18vw;
    height: fit-content;
    margin: 2vh auto;
    margin-right: 4vw;
    border: 5px solid var(--light) ;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.nav-shop h1{
    color: var(--white);
    font-size: 40px;
    margin: 25px auto;
    border: 5px solid var(--light) ;
    border-radius: 12px;
    padding: 10px 80px;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-shop h3{
    margin-top: 20px;
    cursor: pointer;
}

.nav-shop h3:hover{
    color: var(--light);
}

.button-holder-filter{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.button-holder-filter input{
    font-size: 12pt;
    padding: 10px;
    color: var(--white);
    background-color: var(--dark);
    border: solid 4px var(--light);
    border-radius: 12px;
    cursor: pointer;
}

.button-holder-filter input:hover{
    background-color: var(--light);
}

.range_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--dark);
    border: solid 4px var(--light);
    border-radius: 12px;
    padding: 20px;
  }

  .form_control_container__time{
    color: var(--white);
  }
  
  .sliders_control {
    position: relative;
    min-height: 15px;
  }
  
  .form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: var(--black);
    margin-bottom: 2rem;
  }
  
  .sliders_control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--dark);
    cursor: pointer;
  }
  
  .sliders_control input::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: var(--black);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--white);
    cursor: pointer;  
  }
  
  .sliders_control input::-webkit-slider-thumb:hover {
    background: var(--light);
  }
  
  .sliders_control input::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 2px var(--black), 0 0 6px var(--black);
    -webkit-box-shadow: inset 0 0 2px var(--black), 0 0 6px var(--black);
  }
  
  input[type="number"] {
    color: var(--light);
    width: 80px;
    height: 30px;
    font-size: 20px;
    border: none;
    -moz-appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
     opacity: 1;
     -webkit-appearance: none;
    margin: 0;
  }
  
  .sliders_control input {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--white);
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }

/* FIXME: Fix star selection aligment that is off */ 
.rating {
    --dir: right;
    --fill: var(--light);
    --fillbg: var(--white);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 2.5rem;
    --symbol: var(--star);
    --value: 0;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    background-color: var(--dark);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
  }
  .rating-label {
    background-color: var(--dark);
    border: solid 4px var(--light);
    border-radius: 12px;
    padding: 20px;
  }
  
  /* NO JS */
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }

.input-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


/* TODO: Make hover effect on containers not only labels in shop filter*/
.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background: var(--dark);
}

.option:last-child{
    margin-bottom: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  .checkmark {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    height: 25px;
    width: 25px;
    background: white;
    border: solid 4px var(--light);
    border-radius: 12px;
  }
  
  .container:hover input ~ .checkmark {
    background: var(--dark);
  }
  
  .container input:checked ~ .checkmark {
    background: var(--light);
    border: solid 4px var(--light);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.nav-shop p{
    color: white;
    font-size: 20pt;
    margin-left: 15px;
}

/* CONTACT */

.whiteback{
    border: solid 3px var(--light);
    background: black;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    margin: 10vh auto;
    padding: 10vh 6vw 10vh 7vh;
    display: flex;
    flex-direction: row;
}

.head{
    margin: -5vh 0 0 -4vw;
    font-size: 50px;
    color: var(--light);
    font-weight: 580;

}

.map{
    border-radius: 12px;
    border: solid 3px var(--light);
    width: fit-content;
    height: fit-content;
    margin: 5vh 8vw 0 auto;

    overflow: hidden;
    background: white;
}

iframe{
    width: 35vw;
    height: 40vh;
}

.form div{
    margin-bottom: 2.5vh

}

.form input{
    font-family: 'Agency FB', arial ;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 12px;
    border: solid 3px var(--light);
    background: white;
    font-size: 20pt;
    width: 18vw;
    color: var(--light);
}

.form input::-webkit-input-placeholder {
    text-align: center;
    color: var(--light);
 }
 
 .form textarea::-webkit-input-placeholder {
    text-align: center;
    color: var(--light);
 }

.form textarea{
    font-family: 'Agency FB', arial ;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 12px;
    border: solid 3px var(--light); 
    background: white;
    font-size: 20pt;
    min-width: 18vw;
    max-width: 18vw;
    min-height: 6vh;
    color: var(--light);
}

.button button{
    background: var(--light);
    color: white;
    padding: 1.5vh 2vw;
    font-size: 20pt;
    border-radius: 12px;
    outline: none;
    border: none;
    float: right;
    margin: 1vh -2vw 0 0;
    cursor: pointer;
}

.button button:hover{
    background: var(--dark);
}

/* ACCOUNT */

.blackback{
    margin: 4vh 4vw;
    background: black;
    display: flex;
    flex-direction: row;
    
}

.main{
    margin: 0 3vw;
}

.user{
    display: flex;
    flex-direction: row;
    margin: 8vh 0 7vh 0;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
}

.hello{
    margin-right: 5vw;
}

.hello p{
    color: white;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: -0.5vw;
    white-space: nowrap
}

.main h1{
    font-size: 40pt;
    color: white;
    font-weight: 500;
    margin: 4vh 0 0.5vh 0;
}

.avatar{
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 8.5vw;
    height: 8.5vw;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-out;
}

.avatar:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

.avatar img{
    width: 10vw;
    height: 10vw;
    padding: 7px;
    margin-top: 12px;
}

h2{
    color: white;
    font-size: 25pt;
    font-weight: 400;
    margin-bottom: 1vh;
    padding: 1vh;
}

.option{
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    padding: 1vh;
}

.options div{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(1);
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin-right: 3vw;
    width: fit-content;
}

.options div:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

.options img{
    margin-top: 2vh;
    width: 4.5vw;
}

.options p{
    color: white;
    font-size: 25pt;
    margin: 0 0 -20px 2vw;
}

.buying{
    width: 30%;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin-right: 1vw;
}

.bought{
    background: var(--light);
    border-radius: 12px;
    padding: 3vh 0.5vw;
    width: 40%;
    text-align: center;
    margin: 2vh auto;
    margin-bottom: 5vh;
    cursor: pointer;
}

.bought:hover{
    background-color: var(--dark);
}

.bought p{
    font-size: 30pt;
    color: white;
}

.buy{
    margin: 2vh 1vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.buy div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.buy img{
    width: 185px;
    margin: 0 1vw 3vh 0;
    justify-content: center;
    transform: scale(1);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.buy img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

.selling{
    width: 30%;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
}

.sold{
    background: var(--light);
    border-radius: 12px;
    padding: 3vh 0.5vw;
    width: 40%;
    text-align: center;
    margin: 2vh auto 5vh auto;
    cursor: pointer;
}

.sold:hover{
    background-color: var(--dark);
}

.sold p{
    font-size: 30pt;
    color: white;
}

.sell{
    text-align: center;
    color: white;
    font-size: 30pt;
}

/* CART */

.cartback{
    background: black;
    width: 85vw;
    min-height: 65vh;
    margin: 3vh auto;
    display: grid;
    grid-template-columns: auto auto;

}

.incart{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin: 1vh;
    height: fit-content;
    cursor: pointer;
}

.incart:hover{
    border-color: var(--dark);
}

.incart-main{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    cursor: pointer;
}

.cart-img-holder{
    width: 300px;
    height: 160px;
    overflow: hidden;
}

.bin-button{
    outline: none;
    border: none;
    background-color: var(--black);
}

.contain p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #969086;
    font-size: 18pt;
    margin-right: 1.5vw;
}

.contain {
    display: flex;
    position: relative;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    height: fit-content;
    cursor: pointer;
  }

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info img{
    width: 15vw;
}

.info img:first-child{
    margin-right: 1vw;
}

.incartright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
  
  .contain input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .contain .checkmark {
    left: -10px;
    top: 40%;
    height: 25px;
    width: 25px;
    background: white;
  }
  
  .contain:hover input ~ .checkmark {
    background: var(--dark);
  }
  
  .contain input:checked ~ .checkmark {
    background: var(--light);
  }
  
  .checkmark:after {
    content: "";
    display: none;
  }
  
  .contain input:checked ~ .checkmark:after {
    display: flex;
  }
  
  .contain .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.bin .img-top {
    display: none;
    width: 2vw;
}

.img-bottom{
    width: 2vw;
}

.bin:hover .img-top {
    display: flex;
}

.bin:hover .img-bottom{
    display: none;
}

.more{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
    cursor: pointer;
    text-decoration: none;
}

.more p{
    font-size: 25pt;
    color: white;
}

.more:hover{
    border-color: var(--dark);
}

.akcepting{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin: 1vh;
}

.akcepting p{
    font-size: 25pt;
    color: white;
    margin-bottom: 2vh;
}

.akcepting img{
    width: 40vw;
}

.order{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin: 1vh;
}

.order p{
    margin-top: 1vh;
    color: white;
    font-size: 20pt;
}

.order h1{
    color: white;
    font-size: 40pt;
}

.continue{
    width: fit-content;
    margin: 0 auto;
    margin-top: 1vh;
}

.order a{
    text-align: center;
    color: var(--light);
    font-size: 30pt;
    text-decoration: none;
}

.order a:hover{
    color: var(--dark);
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buy{
    justify-content: center;
}

.paybut{
    background: var(--light);
    border-radius: 12px;
    width: fit-content;
    padding: 1vh 10vw;
    margin: 3vh auto 0 auto;
    cursor: pointer;
    color: var(--white);
    font-size: 16pt;
}

.paybut:hover{
    background: var(--dark);
}

.discount{
    background: black;
    border-radius: 12px;
    border: 3px solid var(--light);
    padding: 20px;
    margin: 1vh;
}

.discount p{
    margin-top: 3vh;
    color: white;
    font-size: 15pt;
    padding-left: 5px;
}

.discount h1{
    color: white;
    font-size: 25pt;
}

.code{
    margin-top: 1vh;
    border: 3px solid var(--light);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 12px;
}

.code input{
    font-size: 18pt;
    outline: none;
    border: none;
    background-color: black;
    color: var(--light);
    
}







.bottomnav{
    background: var(--light);
    height: 12vh;
    bottom: 0pt;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    justify-content: center;

}

.bottomnav div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 2vw;
}

.bottomnav img{
    height: 6vh;
    margin-top: auto;
    margin-bottom: auto;
}

.bottomnav p{
    font-size: 18pt;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
}


.form-holder{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5vh auto;
    border: 3px solid var(--light);
    border-radius: 12px;
    padding: 20px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.img-holder img{
    width: 5vw;
}

.form-holder input{
    border: 3px solid var(--light);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16pt;
    margin: 10px;
    outline: none;
}

.button-holder{
    width: fit-content;
    margin: 5px auto;
}

.button-holder input{
    margin: auto 25px;
    margin-top: 10px;
    cursor: pointer;
}

.button-holder input:hover{
    background-color: var(--light);
}

.forgot-password-link-holder{
    width: fit-content;
    margin: 5px auto; 
}

.forgot-password-link-holder a{
    color: var(--light);
}

.message{
    margin: 30px;
}

.error-message{
    border: 3px solid var(--light);
    border-radius: 12px;
    padding: 20px;
    color: red;
}

.logout-message{
    border: 3px solid var(--light);
    border-radius: 12px;
    padding: 20px;
    color: green;
}

.add-product-form{
    width: fit-content;
    height: fit-content;
    margin: 5vh auto;
    border: 3px solid var(--light);
    border-radius: 12px;
    padding: 10px;
}

.input-field{
    padding: 10px;
}

.add-product-button{
    width: 10vw;
    padding: 10px;
    border: 3px solid var(--light);
    border-radius: 12px;
    color: var(--white);
    background-color: var(--dark);
}

.add-product-button:hover{
    background-color: var(--light);
}


    /* TODO: Place appropriate @media and adjust them*/    

    @media screen and (max-width: 1351px) {
        
        .searchbar{
            width: 15vw;
        }
        
        .links a{
            font-size: 40pt;
        }
    }