<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
    <title>Asset Store Start</title>
<body>
    <div th:replace="~{layouts/nav.html :: nav}" id="nav-placeholder"></div>

    <!-- TODO: Make account responsive-->
    <div class="blackback">
        <div class="main">
            <div class="user">

            <div class="hello">
                <h1>Hello User!</h1>
                <p sec:authentication="principal.username"></p>
                <p th:text="${email}">account@e-mail.com</p>
                <h2>Account crateion date</h2>
                <div th:if="${param.passwordChanged}" >
                    <span class="logout-message">Password changed succesfully.</span>
                </div>
                <!-- <span th:text="${#authentication.principal.email}"></span> -->
               

                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>

                <!-- <div sec:authorize="hasRole('UserRole')"> <a href="#">Link that show when user has neccesary role</a></div> -->

            </div>

                <div class="avatar"><img th:src="@{icons/avatar.png}"></div>
            </div>

            <h2>Assets</h2>
            <div class="option">
            <div class="options">
                <a th:href="@{/product/add}"><div><img th:src="@{icons/paying icon.png}"> <p>Add Product</p></div></a>
                <a th:href="@{/account/sold}"><div><img th:src="@{icons/security icon.png}"> <p>Sold</p></div></a>
                <a th:href="@{/account/bought}"><div><img th:src="@{icons/feedback icon.png}"> <p>Bought</p></div></a>
                <a th:href="@{/account/wishlist}"><div><img th:src="@{icons/account.png}"> <p>Whislisted</p></div></a>
            </div>
            </div>

            <h2>Settings</h2>
            <div class="option">
                <div class="options">
                    <a th:href="@{/account/settings/security}"><div><img th:src="@{icons/security icon.png}"> <p>Security</p></div></a>
                    <a th:href="@{/account/settings/feedback}"><div><img th:src="@{icons/feedback icon.png}"> <p>Feedback</p></div></a>
                    <a th:href="@{/account/settings/transactions}"><div><img th:src="@{icons/paying icon.png}"> <p>Transaction history</p></div></a>
                    <a th:href="@{/account/settings/settings}"><div><img th:src="@{icons/account.png}"> <p>Settings</p></div></a>
                </div>
                </div>
        </div>

    </div>

    <div th:replace="~{layouts/footer.html :: footer}" id="footer-placeholder"></div>
</body>
</html>
