<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/png" href="icons/AC.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
        <title>Asset Store Start</title>
    </head>
<body>
    <div th:replace="~{fragments/nav.html :: nav}" id="nav-placeholder"></div>

    <!-- TODO: Make account responsive-->
    <div class="blackback">
        <div class="main">
            <div class="user">

            <div class="hello">
                <h1>Hello User!</h1>
                <span sec:authentication="principal.username"></span>
                <p>account@e-mail.com</p>

                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>

                <!-- <div sec:authorize="hasRole('UserRole')"> <a href="#">Link that show when user has neccesary role</a></div> -->

            </div>

                <div class="avatar"><img src="icons/avatar.png"></div>
            </div>

            <div class="option">
            <h2>Account Options</h2>
            <div class="options">
                <div><img src="icons/security icon.png"> <p>Security</p></div>
                <div><img src="icons/feedback icon.png"> <p>Feedback</p></div>
                <div><img src="icons/paying icon.png"> <p>Paying</p></div>
                <div><img src="icons/account.png"> <p>Account</p></div>
            </div>
            </div>
        </div>

        <div class="buying">
            <div class="bought"><p>Bought</p></div>
            <div class="buy">
                <img src="icons/Warstwa 38.png">
                <img src="icons/Warstwa 30.png">
                <img src="icons/Warstwa 8.png">
            </div>
        </div>

        <div class="selling">
            <div class="sold"><p>Sold</p></div>
            <p class="sell">Nothing sold yet.</p>
        </div>

    </div>

    <div th:replace="~{fragments/footer.html :: footer}" id="footer-placeholder"></div>
</body>
</html>
