<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/png" href="icons/AC.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
        <title>Add Product</title>
    </head>
<body>
    <div th:replace="~{fragments/nav.html :: nav}" id="nav-placeholder"></div>
   
    <form th:action="${productForm.id == null} ? @{/account/addProduct} : @{/editProduct/{id}(id=${productForm.id})}" 
    method="POST" th:object="${productForm}" enctype="multipart/form-data" class="add-product-form">

        <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="_csrf">
        <input type="hidden" th:field="*{id}">

        <div th:each="image : ${productForm.images}">
            <img th:src="@{${image.path}}" alt="Image">
            <button type="button" class="bin-button" th:attr="onclick='removeImage('+${image.id}+')'">
                <div class="bin">
                    <img src="/icons/binclose.png" class="img-bottom">
                    <img src="/icons/binopen.png" class="img-top">
                </div>
            </button>
        </div>

        <div class="input-field">
            <h2>Images</h2><input type="file" th:field="*{files}" accept="image/**" multiple> 
            <div th:if="${#fields.hasErrors('files')}" th:errors="*{files}" class="error-message">File Upload Error</div>
        </div>

        <div class="input-field">
            <h2>Name</h2><input type="text" th:field="*{name}" id="">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <h2>Category</h2><input type="text" th:field="*{category}" id="">
            <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <h2>Price</h2><input type="number" step="0.01" th:field="*{price}" id="">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <h2>Description</h2><textarea th:field="*{description}" id=""></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message">Name Error</div>
        </div>

        <div class="input-field">
            <!-- <input type="submit" value="Sell" class="add-product-button"> -->
            <button type="submit"> <span th:text="${productForm.id == null} ? 'Add Product' : 'Edit Product'"></span></button>
            <!-- <input type="submit" value="Save as Draft"> -->
            <button class="add-product-button">Discard</button>
        </div>
    </form>

    <div th:replace="~{fragments/footer.html :: footer}" id="footer-placeholder"></div>
    <script th:src="@{/js/scriptProductForm.js}"></script>
</body>
</html>