<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" href="icons/AC.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
        <title>Asset Store Start</title>
    </head>
<body>
    <div th:replace="~{fragments/nav.html :: nav}" id="nav-placeholder"></div>
    
    <!-- TODO: Add more content to contact us-->
    <div class="whiteback">
        <div>
            <p class="head">Contact Us!</p>
            <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6026146817!2d20.990800901538325!3d52.23243717966152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc8f9fbeb179%3A0x64cd0ff0c1e4f7df!2sMir%C3%B3w%2C%20Warszawa!5e0!3m2!1spl!2spl!4v1654185438895!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
        <div class="form">
            <div class="name" ><input type="text" placeholder="Name"></div>
            <div class="surname"><input type="text" placeholder="Surname"></div>
            <div class="email"><input type="text" placeholder="E-mail"></div>
            <div class="message"><textarea rows="4" placeholder="Message"></textarea></div>
            <div class="button"><button>SEND</button></div> 
        </div>
    </div>
        
    <div th:replace="~{fragments/footer.html :: footer}" id="footer-placeholder"></div>
</body>
</html>
