<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
    <title>Asset Store</title>
<body>
    <div th:replace="~{layouts/nav.html :: nav}" id="nav-placeholder"></div>


        <img class="imgbox" th:src="@{icons/baner2.png}"> </a>

    <p class="header">TOP POPULAR ASSETS</p>


     <div class="products">
         <div th:each="product : ${products}" class="fragment-products"> 
             <div th:replace="~{product/product-thumbnail.html :: product(${product})}"></div>
         </div>
         <img class="positions-shop-img" th:src="@{icons/Warstwa 10.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 29.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 30.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 31.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 32.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 33.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 34.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 35.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 36.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 37.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 38.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 5.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 6.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 7.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 8.png}">
         <img class="positions-shop-img" th:src="@{icons/Warstwa 9.png}">
     </div>

    <div th:replace="~{layouts/footer.html :: footer}" id="footer-placeholder"></div>
</body>
</html>
