<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" href="icons/AC.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
        <title>Asset Store Start</title>
    </head>
    
<body>
  <div th:replace="~{fragments/nav.html :: nav}" id="nav-placeholder"></div>
<!--TODO: Add sort by -->

<!-- TODO: Replace static elements with templates shop-->
<div>
<div th:if="${products.isEmpty()}" class="no-products">
  <p>No products found.</p>
</div>

<div th:unless="${products.isEmpty()}" class="products">
    <div th:each="product : ${products}"> 
        <div th:replace="~{fragments/product.html :: product(${product})}"></div>
    </div>
  </div>
</div>

    <div class="center">
    <div class="positions-shop">
        <img src="icons/Warstwa 10.png">
        <img src="icons/Warstwa 29.png">
        <img src="icons/Warstwa 30.png">
        <img src="icons/Warstwa 31.png">
        <img src="icons/Warstwa 32.png">
        <img src="icons/Warstwa 33.png">
        <img src="icons/Warstwa 34.png">
        <img src="icons/Warstwa 35.png">
        <img src="icons/Warstwa 36.png">
        <img src="icons/Warstwa 37.png">
        <img src="icons/Warstwa 38.png">
        <img src="icons/Warstwa 5.png">
        <img src="icons/Warstwa 6.png">
        <img src="icons/Warstwa 7.png">
        <img src="icons/Warstwa 8.png">
        <img src="icons/Warstwa 9.png">
    </div>

    <!-- TODO: Stash pop stash@{0} after merging with master branch -->
    <!-- TODO: Update filter-->
     <!-- TODO: Make filter work-->
    <div class="nav-shop">
      <h1>Filter</h1>
      <div class="cost">
        <h3>Cost</h3>
        <!-- FIXME: Fix inputs range and steps so that they will accept decimals-->
        <div class="range_container">
          <div class="form_control">
              <div class="form_control_container">
                  <div class="form_control_container__time">Min</div>
                  <input class="form_control_container__time__input" type="number" name="minPrice" id="fromInput" value="10" min="0" max="100"/>
              </div>
              <div class="form_control_container">
                  <div class="form_control_container__time">Max</div>
                  <input class="form_control_container__time__input" type="number" name="maxPrice" id="toInput" value="40" min="0" max="100"/>
              </div>
          </div>
          <div class="sliders_control">
              <input id="fromSlider" type="range" value="10" min="0" max="100"/>
              <input id="toSlider" type="range" value="40" min="0" max="100"/>
          </div>
      </div>
      </div>

      <div class="rating-holder">
        <h3>Rating</h3>
        <label class="rating-label">
          <input
            class="rating"
            min="0.5"
            max="5"
            oninput="this.style.setProperty('--value', this.value)"
            step="0.5"
            type="range">
        </label>
      </div>

        <h3>Categories</h3>
        <div class="option">
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
              <p>3D (42794)</p>
            </label>
    </div>

    <div class="option">
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
          <p>2D (9281)</p>
        </label>
      </div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Animations (804)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Characters (12404)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Environments (8677)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Props (12893)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Vegetation (1079)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Vehicles (5427)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Essentials (45)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Templates (2925)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Tools (9818)</p>
    </label>
</div>

<div class="option">
    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>VFX (2989)</p>
    </label>
</div>
    </div>

    </div>


    <div th:replace="~{fragments/footer.html :: footer}" id="footer-placeholder"></div>
    <script src="/script.js"></script>
</body>
</html>
