<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
    <title>Cart</title>
<body>
    <div th:replace="~{layouts/nav.html :: nav}" id="nav-placeholder"></div>

    <div class="cartback">

    <div class="leftside">
        
        
        <div class="incart"> 
            <label class="contain">
                
                <div class="info">
                    <img th:src="@{icons/visual.png}">
                    <img th:src="@{icons/coment.png}">
                </div>
                
                <div class="incartright">
                <p>€53.60</p>
                <div class="bin">
    	            <img th:src="@{icons/binclose.png}" class="img-bottom">
                    <img th:src="@{icons/binopen.png}" class="img-top">
                </div>
                </div>

                <div>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
                </div>
              </label>  
        </div>

        <form id="cartForm" th:action="@{/api/cart/update}" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="_csrf">
        <div  th:unless="${products.isEmpty()}"> 
                <div th:each="product : ${products}" class="incart-main">
                      
                    <div>
                        <input type="checkbox" name="checks" th:value="${product.id}" class="product-checkbox" th:data-price="${product.price}">
                        <span class="checkmark"></span>
                    </div>

                    <div class="cart-img-holder">
                        <img th:src="@{${product.productImages[0].path}}">
                    </div>

                    <a th:href="@{/productPage/{id}(id=${product.id})}" class="product-card-link">
                    <p class="product-card__owner">
                        <span th:text="${product.ownerUsername}">Owner Username</span>
                        <h2 class="product-card__title" th:text="${product.name}">Product Name</h2>
                        <span>$</span><span th:text="${product.price}">$0.00</span>
                        <span th:text="${product.rating}">Rating</span>
                        <span th:text="${product.category}">Category</span>
                        <span th:text="${product.description}">Description</span>
                    </p>
                </a>

                <button type="button" class="bin-button" th:attr="onclick='removeProduct('+${product.id}+')'">
                    <div class="bin">
                        <img th:src="@{icons/binclose.png}" class="img-bottom">
                        <img th:src="@{icons/binopen.png}" class="img-top">
                    </div>
                </button>

                </div>
        </div>
 
        <a class="more" th:href="@{/shop}">
                  <p>ADD MORE</p>
                  <P>></P>
        </a>
        
        <div class="akcepting">
            <p>WE ARE AKCEPTING</p>
            <img th:src="@{icons/akcept.png}">
        </div>

    </div>

    <div class="rightside">
        <div class="order">
            <h1>To pay</h1>
            <div class="sumary" >
                <p>Sumary cost:</p>
                <p style="color: white;">
                    <span>$</span><span id="totalPrice" >0.00</span>

                </p>
            </div>

            <div class="buy">
                <input type="submit" class="paybut" value="PAY">
            </div>

            <div class="continue">
                <a th:href="@{/shop}">Continue shoping</a>
            </div>
        </div>
    
        <div class="discount">
            <h1>Place discount code</h1>
            <p>Type in or paste your discount code HERE</p>
            <div class="code">
                <input type="text">
            </div>
        </div>
    </div>
</form> 

    </div>

    <div th:replace="~{layouts/footer.html :: footer}" id="footer-placeholder"></div>

    <script th:src="@{/js/scriptCart.js}"></script>
</body>
</html>
